@charset "utf-8";

/* All CSS */

html {
    overflow-y: scroll;
}

@font-face {
	src: url("../fonts/ropasoftpro-regular.woff");
	font-family: "Ropa Soft Pro";
}

@font-face {
	src: url("../fonts/nps_1935.woff");
	font-family: "NPS 1935";
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	color: #cfb53b;
	background: #482e3b;
	font-family: "Ropa Soft Pro";
	max-width: 1920px;
}

div {
	width: 100%;
	height: auto;
	overflow: auto;
}

h1 {
	text-align: center;
	font-size: 40pt;
}

h2 {
    text-align: center;
    font-size: 30pt;
	margin: 3% 0;
}

h3 {
	font-size: 25pt;
}

p {
	font-size: 16pt;
	padding: 0 10%;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 5%;
}

nav i {
    font-size: 40pt;
    height: auto;
    overflow: auto;
    padding: 0 6%;
}

#banner img {
	width: 100%;
	height: auto;
	overflow: auto;
}

#history {
	padding: 2.5% 0;
}

.half {
	width: 50%;
	height: auto;
	overflow: auto;
	float: left;
}

.half img {
    width: 50%;
    height: auto;
    overflow: auto;
	border-radius: 50%;
    margin-left: 25%;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
}

.dotrow {
    display: flex;
    justify-content: center;
	padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.dotrow i {
    font-size: 30pt;
    color: #cfb53b;
    padding: 0 2.5%;
	cursor: pointer;
}

.pink {
    color: #f19f94 !important;
}

#hair {
	font-family: "NPS 1935";
	margin-right: 5px;
}

#products {
	padding: 2.5% 0;
}

button {
	display: none;
	width: 25%;
	cursor: pointer;
	margin: 2.5% 0 5% 37.5%;
    padding: 1.5%;
    color: #000000;
    background: #f19f94;
    border: none;
    font-family: "Ropa Soft Pro";
    font-size: 16pt;
    box-sizing: border-box;
}

::placeholder {
    font-family: "Ropa Soft Pro";
    font-size: 16pt;
     color: #000000;
}

a {
	cursor: pointer;
}

.fa-times-circle {
	display: none;
	position: relative;
	z-index: 1;
	font-size: 32pt;
	top: 10px;
	right: 5%;
	color: #000000;
	cursor: pointer;
}

#productcontainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.modal-open {
    overflow: hidden;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #482e3b;
  opacity: 0.9;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
	position: relative;
     top: 50%;
     transform: perspective(1px) translateY(-50%);
}

.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #cfb53b;
  font-family: "Ropa Soft Pro";
  font-size: 16pt;
  padding: 2.5% 0;
  height: auto;
  position: relative;
  top: 35%;
  transform: perspective(1px) translateY(-35%);
}

.close {
  position: absolute;
  top: 1%;
  right: 2.5%;
  color: #cfb53b;
  font-size: 80px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #f19f94;
  text-decoration: none;
  cursor: pointer;
}

.third {
	width: 30%;
	height: auto;
	overflow: auto;
	float: left;
    padding: 2.5% 1.5%;
    transition: 0.3s;
}

.third img {
    width: 100%;
    height: auto;
    overflow: auto;
    cursor: pointer;
}

.third img:hover {
    opacity: 0.7;
}

#pricelist, footer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

hr {
    visibility: hidden;
}

.columns {
    width: 50%;
    height: auto;
    overflow: auto;
    float: left;
    justify-content: space-between;
}

ul {
	list-style-type: none;
}

li {
	font-size: 16pt;
    padding: 2% 0;
}

.client {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 50%;
    height: 500px;
    overflow: auto;
    border: 0;
    margin-left: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
}

footer {
	align-items: center;
}

#footerimg {
    display: flex;
    justify-content: space-between;
    margin: 2.5%;
}

footer i {
    font-size: 100pt;
}

#homeicon:hover, #teamicon:hover, #productsicon:hover {
	cursor: pointer;
}

nav, .secondshow, .thirdshow, .fourthshow, .fifthshow, .sixthshow, .seventhshow {
	display: none;
}

@media only screen and (max-width: 1400px) {
	
	.firsthide {
		display: none;
	}
}

@media only screen and (max-width: 1100px) {
	
	.secondhide {
		display: none;
	}
	
	.secondshow {
		display: block;
	}
	
	iframe {
		width: 75%;
		margin-left: 15%;
	}
	
	footer .columns {
		width: 100%;
	}
}

@media only screen and (max-width: 950px) {
	
	.thirdhide {
		display: none;
	}
	
	.thirdshow {
		display: block;
	}
}

@media only screen and (max-width: 890px) {
	
	.fourthhide {
		display: none;
	}
	
	.fourthshow {
		display: block;
	}
}

@media only screen and (max-width: 800px) {
	
	.fifthhide {
		display: none;
	}
	
	.fifthshow {
		display: block;
	}
}

@media only screen and (max-width: 750px) {
	
	nav, .team, .client {
		display: block;
	}
	
	.half {
		width: 100%;
	}
	
	.half img {
		padding-top: 5%;
		padding-bottom: 5%;
	}
	
	.containercolumn {
		width: 100%;
	}
	
	li.fifthshow, li.secondshow {
		display: none;
	}
	
	footer {
		padding-top: 5%;
	}
}

@media only screen and (max-width: 700px) {
	
	.third {
		width: 70%;
	}
	
}

@media only screen and (max-width: 500px) {
	
	.sixthshow {
		display: block;
	}
	
	.sixthhide {
		display: none;
	}
	
	.caption {
		top: 40%;
		transform: perspective(1px) translateY(-40%);
	}
	
	button {
		margin-bottom: 7.5%;
	}
	
	footer {
		padding-top: 7.5%;
	}
	
}

@media only screen and (max-width: 450px) {
	
	h1 {
	font-size: 30pt;
}

	h2 {
    font-size: 25pt;
}

	h3 {
	font-size: 20pt;
}
	
	#julie p {
		padding: 0 15%;
	}
	
	iframe {
		width: 100%;
		margin-left: 0;
	}
	
	footer i {
		font-size: 75pt;
	}
	
	button {
		width: 50%;
		margin-left: 25%;
		margin-top: 5%;
		margin-bottom: 10%;
	}

}

@media only screen and (max-width: 380px) {
	
	li.seventhshow {
		display: block;
	}
	
	.seventhhide {
		display: none;
	}
	
	nav {
		padding-bottom: 10%;
	}
	
	p {
		padding: 0 5%;
	}
	
	.half img {
		width: 75%;
		margin-left: 15%;
	}
	
	ul {
		padding-left: 10%;
	}
	
	li {
		font-size: 14pt;
	}

	footer h2 {
    font-size: 20pt;
}
	
	footer i {
		font-size: 50pt;
	}
	
}